.footer {
  position: fixed;
  z-index: 1;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
  padding: 1rem;
}

i {
  font-family: fontello;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 4px;
}
