.aerial-bg::after {
  content: '';
  width: 100vw;
  height: 100vh;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position: 50% 50%; 
  background-size: cover; 
  background-image: url('https://lh3.googleusercontent.com/__sPcC4IXUvsNfsfiRvCzSAEBSST4H-VoJ1-G-b9yrRuxLGi5Hu38QM-toRT1n8uQUVXjGkgXL7hJ3Ac2kgZDvmZlyi3-f-kBLfJCHFgLl2MTYfMcTr4obHUbNvvPjZS09LYZvCHQ4vdPLEIkT694-0QKGe_5vN6jbfb6ahOU5xR7wyzmRCChQ5ECenSyu7N1Ue8W-JiAa3BOScs-uBdh-gyTiS0puBaJD0Synl3AC5vVCbjSJASfsFna6EMgC0Edpub4XV38OPWzEcEQ6CvK9kOmK6XG3aw-sfOqn7hDXhgesH5psDrcAl0Zj5IZdF3E_zIukMVzug_JJtZW2gGNpIRQjRpngk-GX6IoGbPgWdTH5MiYjlhV0lx0jFi0_52LwLDSkfkgedRp7sjlgv0EKPCGg5cZPG7naAYhwK-lOsz1sLw6OixzcSBrVHj4p_o7dNIHDB7uZvf-VILXcZOmLdjQ2Q0Tix4Eckzy0gl-HDINLhoQ-Wkt4CKH9wmj24HjWEjYuu3z7mFCdVXUZHfvzLT-T_9KQ1GIa-QrnhwLfS50hGddTcSIIgncgzQtFxfupMDGgDixMTSUjS21JszJMpUHpOFL4WzQQU5pPTzePxDiv6NxbxMA-XFnt41yWxJdDjV9Ea_fwkJCLwj3cbiqkEQ9ZyPl3Bemwv_0Tuzbuw1nqRu2rvIwbkQW5WQ6xyzhpYLlmhluUA4ciBOG-iGjEs7Gei4--_9FqmMHJj3h0M6nzbB=s1600');
}