.aerial-bg::after {
  content: '';
  width: 100vw;
  height: 100vh;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position: 50% 50%; 
  background-size: cover; 
  background-image: url('https://lh3.googleusercontent.com/nv_aB59fXOBGUnVTc-JMG0rRv-RnoOyHo3Z7WaV1r6vfLgTfokN_p6hbiP5YCcD-NmiQyWbaPn5RYGe-OvJ7ngd6TnzWOh9cr1C_YVYpkXN38whRk7TJzlwpNSk55_1HWuI3gEn0xXbfQhjdRsRjrP5yPeCkLdoKixF6FCe2lV7NEyIXV-mRRWLZVAjN7Vf0P3yLh_HJpQoaYCFM2B8bRQmCVX3k0LlF33jC1UICWPu-lUFoiadiINroEyCzRfO22GYCX0vm94rzhv7nmADuB4ETG64Hs14k4-VSJ839jYWnmCbRTyZFwQO7Ni2Sd7PrKmnwcbut3MgqqTPZNnEwBXpXDxvl1xJman_Sl7R6eBh304kIWKhDpAHkZ28-6yHxGfBCDRyHACaCisins9XrOPCDY3n6XlMqOLGvU2rrA7UjoqrmHpYuB9kAW1z1wuQHv_lPzphXBmqgh_a5tMU0D53EoJTWgV_QVgFOG0fdzmIQMi0dTvnZyVe6VkoD6MgcZd4pRuDdyy-JHzdm51op_AlbvdsS16Z6vEQZwO_N7O8LZK1Pwp_WKkLBcT1XFCO8RBZ9UPuyl9HJkr6dLBwN36NC1R1H1StiXJRjporDZJMNtbQL6Qc1tYZ9rttdbDXWdhRdZ3pXhnLMHGubKPcqCMV2h46LbNH1RBo2ZRRRA20_c75dUCnpwyKRhiSzUY3q1CVZpf6JCM1lWpBcgF8VCPRNUXFaIxPQTp6Lv1iLa0Fhd3HH=s1600');
}