#section-google-maps a {
  text-decoration: none;
}

#section-google-maps a:hover {
  color: black;
}

@media (max-width: 768px) {
  #section-google-maps .fp-controlArrow.fp-next:after,
  #section-google-maps .fp-controlArrow.fp-prev:after {
    display: block;
    border: none;
    font-size: 2rem;
    top: 21px;
  }
  #section-google-maps .fp-controlArrow.fp-next {
    right: 30px;
  }
  #section-google-maps .fp-controlArrow.fp-prev {
    right: 0px
  }

}
