#section-google-maps a {
  text-decoration: none;
}

#section-google-maps a:hover {
  color: black;
}

@media (max-width: 768px) {
  #section-google-maps .fp-controlArrow.fp-next:after,
  #section-google-maps .fp-controlArrow.fp-prev:after {
    display: block;
    border: none;
    font-size: 2rem;
    top: 21px;
  }
  #section-google-maps .fp-controlArrow.fp-next {
    right: 30px!important;
  }
  #section-google-maps .fp-controlArrow.fp-prev {
    right: 0px!important;
  }
}

.google-bg::after {
  content: '';
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position: 50% 50%; 
  background-size: cover; 
  background-image: url('https://lh3.googleusercontent.com/D8y5BvbRGTuQ5itjHhQQfTKY5bR6vs-stCqqGWMpsyFaYQ0FNIntORp_BhlHjcrA0Hw5bu0YAbsNCHtOCn4OGW_oOQdq-tXu1aUaLkG-d3IGvqD2R2dyzHbe8kStHUj97KeAb-ujMDRLV2sulixzhxNgt2-A7lE_KgffKyGPgsVJRsHIohTedcpt8ShQ_L24J4RUIemZe4_Ga8mYc-r2QH4FaPWB4cPcaJBTX8zg_S1Boncjo-hdi7BPP5TA6SuReHBG6SpuCkJ3SYMsq47veR1VYIr3hcHbFLYIcuUPao3x7zspL3rMxLiJSkxfF6MYhkmnuzg1vERTTrbijtBYWCvmM2KV2vueE8bui88IofU_68zA7Im-PeYVzv_1l-BWfR38ixVYQboniibYbKUhVhE3u9F43w1defs7k1RwEENXgaQhSzsXAS76gEoxVDgXENugzpDN0QYdEAbpZEgHLsWxXMhtB90wJci6gyIjhLjgyR_ZPfi_PcLYBTFUuDWchsw5zPCNKsneja7FEkikmz6JaTJU25KKjo8SjVmva0spFCfGtXmGCYvcBCq3BGPTJPK_DgijoKnP-H7gnEwxNRBrdr904V46pCXhfbkCKoVFqpwyjuYaS6h2YEwixI5nIxHQ0hsDcV5CEgU6Wft1P2WYifPHcL7WYuSNi6ySZKdHgrJON4YxigT8DoFBjnSSRsqrPHXWohPdsd5Zklwqj6hluX0B7qhBP2Ddnk5aqGwXONiCZA=w1961-h1306-no');
}
