.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


p, h1, h2, h3, h4 {
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0.1rem;
}

@media (max-width: 1020px) {
  p {
    font-size: larger;
  }
  .article {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}

button {
  border: none;
  background: #1ca592;
  width: 120px;
  height: 40px;
  color: #ffffff;
  margin-right: 1rem;
  cursor: pointer;
  transition: opacity 0.5s;
}
button:hover {
  opacity: 0.6;
  transition: opacity 0.5s;
}

button.primary {
  border: none;
  background: #1ca592;
  width: 120px;
  height: 40px;
  color: #ffffff;
}
button.secondary {
  border: none;
  background: #3f5465;
  width: 120px;
  height: 40px;
  color: #ffffff;
}

.article-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.article {
  display: block;
  margin-right: 2rem;
  width: 46%;
  max-width: 400px;
}

.slide .fp-content {
  padding: 0 4rem;
}

@media (max-width: 1020px) {
  .article {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}
.app-link {

  color: #61dafb;
}

.t-white {
  color: #fff;
}

.covered {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.fp-controlArrow.fp-next {
  right: 50px!important;
  border-color: transparent #774e4e00 #d8c1c100 #ffffff40;
}
.fp-controlArrow.fp-prev {
  left: 15px!important;
  border-color: transparent #ffffff40 #d8c1c100 transparent;
}

.fp-slidesNav {
  display: flex;
  justify-content: space-evenly;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border: 1px solid #ffffff99;
  background: #ffffff55!important;
}
.fp-tableCell {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

@media (max-width: 1020px) {
  .fp-controlArrow {
    display: none;
  }
}

.break-05 {
  width: 100%;
  padding: 0.25rem;
}

.break-1 {
  width: 100%;
  padding: 0.5rem;
}

.break-2 {
  width: 100%;
  padding: 1rem;
}

.break-3 {
  width: 100%;
  padding: 1.5rem;
}

.break-4 {
  width: 100%;
  padding: 2rem;
}

.break-5 {
  width: 100%;
  padding: 2.5rem;
}

.break-6 {
  width: 100%;
  padding: 3rem;
}

.break-7 {
  width: 100%;
  padding: 3.5rem;
}

.break-8 {
  width: 100%;
  padding: 4rem;
}

.break-line {
  width: 100%;
  margin: 1rem 0rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.width-100 {
  width: 100%;
}

.flex {
  display: flex;
  flex: 1;
}

.flex-inline {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.flex-inline > * {
  margin-right: 1rem;
}

.flex-end {
  align-self: flex-end;
}